.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;
  background-color: aqua;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 1 1 25%;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  margin-top: 25px;
  margin-right: 50px;
}

.bgimage {
  background: url("./rest.jpg") no-repeat;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
}
