.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 24%;
}
